@import "settings";

@import "foundation";

nav .button {
  -webkit-box-shadow: 0px 4px 0px $button-bg-hover;
  -moz-box-shadow: 0px 4px 0px $button-bg-hover;
  box-shadow: 0px 4px 0px $button-bg-hover;

  &:hover,
  &.active {
    -webkit-box-shadow: 0px 4px 0px scale-color($button-bg-hover, $lightness: $button-function-factor);
    -moz-box-shadow: 0px 4px 0px scale-color($button-bg-hover, $lightness: $button-function-factor);
    box-shadow: 0px 4px 0px scale-color($button-bg-hover, $lightness: $button-function-factor);
  }
}
