<nav class="row">
  <div class="large-12 columns">
    <h2>ATIP Courier</h2>
    <ul class="button-group radius even-4">
      <li>{{link-to 'Home' 'index' classNames="button"}}</li>
      <li>{{link-to 'Requests' 'requests' classNames="button"}}</li>
    </ul>
  </div>
</nav>

<main class="row">
  {{outlet}}
</main>

